#profile-box {
-moz-border-radius-bottomleft:25px;
-moz-border-radius-bottomright:25px;
-moz-border-radius-topleft:25px;
-moz-border-radius-topright:25px;
background-attachment:scroll;
background-color:#FFFFFF;
background-image:none;
background-position:0 0;
background-repeat:repeat;
float:right;
height:25px;
margin-left:10px;
margin-right:30px;
margin-top:25px;
padding-left:24px;
padding-right:17px;
#width:209px;
}
div.fieldWithErrors {
#width:auto;
display:inline-block;
line-height:1.9em;
margin-bottom:20px;
width:145px;
}
div.create_link {
float:right;
padding:8px;
}
div.back_link {
float:left;
padding:8px;
}
p.error {
color:red;
font-weight:bolder;
}
p.notice {
color:green;
font-weight:bolder;
}

