<h1>Register New User</h1>

<% form_for @user, :url => { :action => "create" }  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>
